@charset "utf-8";

/* webfont define 

@import url(//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,700,300);
*/


/* font */

@font-face {
	font-family:'Nanum Gothic';
	font-weight:400;
	font-style:normal;
	src:url(/site/kotranews/css/fonts/NanumGothic-Regular.eot);
	src:local('※'),
	url(/site/kotranews/css/fonts/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
}

@font-face {
	font-family:'Nanum Gothic';
	font-weight:700;
	font-style:normal;
	src:url(/site/kotranews/css/fonts/NanumGothic-Bold.eot);
	src:local('※'),
	url(/site/kotranews/css/fonts/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
}

@font-face {
	font-family:'Nanum Gothic';
	font-weight:800;
	font-style:normal;
	src:url(/site/kotranews/css/fonts/NanumGothic-ExtraBold.eot);
	src:local('※'),
	url(/site/kotranews/css/fonts/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
}

/****************************************************************************
	Reset
*****************************************************************************/

html {height:100%;}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,input,select, button, textarea,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{	
	padding:0px;
	margin:0px;
	vertical-align:top;
	line-height:1.2;
}

body,th,td,input,select,textarea,button,a {
	font-size:14px;
	font-family:'Open Sans', 'Nanum Gothic','나눔고딕', NanumGothic, Arial, Helvetica, sans-serif;
} 
body {
	background:#fff;
	color:#373737;
	-webkit-text-size-adjust:none;/*  아이폰,안드로이드 폰트크기 다를때 */
}

tr, td{
	vertical-align:middle;
}
a {
	color:#373737;
	text-decoration:none;
} 
a:active, a:hover {
	text-decoration:none;
}
::-moz-selection {
	background:#b3d4fc;
	text-shadow:none;
}
:selection {
	background:#b3d4fc;
	text-shadow:none;
}
input {
	vertical-align:middle;
}

select{
	min-height: 28px;
	min-width:90px;
	padding: 4px 20px 4px 10px;
	border:1px solid #8e8e8e;
	outline:none;
	background:url(/site/kotranews/images/common/select-arrow.png) 95% center #fff no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;*/
	/*select박스 기본화살표이미지 없애기*/
	vertical-align: middle;
	font-size:14px;
}
select::-ms-expand {display: none;} /* ie 9 이상 */
html.ie8 select , html.ie9 select{
	padding:5px 0 4px 10px;
	background:none;
}
input[type="text"], input[type="search"], input[type="password"]{
	min-height:28px;
	padding:0 0 0 10px;
	border:1px solid #8e8e8e;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
	-webkit-appearance:none;
	outline:0;
}
input[type="text"]:focus, input[type="search"]:focus, input[type="password"]:focus, select:focus {
	
}
textarea{
	width:100%;
	min-height:90px;
	border:1px solid #8e8e8e;
	padding:10px;
	resize:none;
	line-height:1.4;
}
dl,ul,ol,li {
	list-style:none;
}
fieldset,option {
	border:0;
	outline:none
}
/* ie에서 테이블 overflow 안먹는 현상 방지 */
/*
fieldset{
	min-width:inherit;
}
*/
table{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	table-layout:fixed;
}
th,td{
	vertical-align:middle;
}
img {
	outline:none;
	border:0;
}

.hidden, legend {
	display:block;
	overflow:hidden;
	position:absolute;
	left:-9999px;
	top:-9999px;
	width:1px;
	height:1px;
	font-size:0;
	line-height:0px;
	text-indent:-9999em;
}
caption{
	overflow:hidden;
	width:0px;
	height:0px;
	font-size:0;
	line-height:0px;
	text-indent:-9999em;
	opacity:0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
}

label {cursor:pointer;vertical-align: middle;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px white inset;}
i, em, address {font-style:normal}
iframe,object,video,embed {position:relative;top:0;left:0;max-width:100%;border: 0;}
button {background:transparent;border:0;cursor:pointer;}
/* html5 ie9 else */
article, aside, details, figcaption, figure, hgroup, menu, nav, section, header {
   display:block;
   margin:0;
   padding:0;
}

*, *:after, *:before {box-sizing:border-box;}

input:-ms-input-placeholder {color:#373737;}
input::-webkit-input-placeholder {color:#373737;}
input::-moz-placeholder {color:#373737;}



/* Default Class */

.fl{float:left;}
.fr{float:right;}
.fn{float:none !important;}
.al{text-align:left !important;}
.ac{text-align:center !important;}
.ar{text-align:right !important;}
.cf:after, .clear:after {
	content:'';
	display:block;
	clear:both;
}
.Hardware-Acceleration{
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);

	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}
html.ie8 .overlay{background: #000;opacity: .5;}

